@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@100.7,517&display=swap');

body {
    background-color: #1c1d25;
    width: 450px;
    font-family: 'Fredoka', sans-serif;
    color: white;
}