#prompt-options-page {
    text-decoration: underline;
    cursor: pointer;
}

.custom-container {
    text-align: center;
}

.title, .subtitle {
    font-size: 20px;
    font-weight: bold;
}

.input-button {
    font-size: 20px;
    /* font-weight: bold; */
    margin-right: 5px;
}

#type-textbox {
    font-size: 20px;
    font-weight: normal;
    border-radius: 50px;
}

.type-textbox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 50px;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}