/* Defining Variables & Imports*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@100.7,517&display=swap');

/* Adding Shared Page Themes & Fonts */
*{
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #1c1d25;
    color: white;
}

.content {
    margin-left: 10px;
}

h1 {
    font-weight: 400;
}

.nav {
    background-color: #336cfb;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav > h1 {
    margin-left: 20px;
}

.nav > ul {
    list-style: none;
    float: right;
    margin-top: -46px;
    display: inline-flex;
}

.nav > ul > li {
    margin-right: 20px;
}

a {
    position: relative;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.open-source-banner {
    background-color: #336cfb;
    padding: 0px 15px 0px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: -moz-fit-content;
    width: fit-content;
}

.pre-underline {
    text-decoration: underline;
}

.pre-underline:hover {
    text-decoration: none;
}