/* Defining Variables & Imports*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@100.7,517&display=swap');

:root {
    --light: #Bec7c9;
    --dark: #1c1d25;
}

/* Adding Shared Page Themes & Fonts */
*{
    font-family: 'Fredoka', sans-serif;
}

*[data-theme="light"], .light-mode {
    background-color: var(--light) !important;
    color: black !important;
}

*[data-theme="dark"], .dark-mode {
    background-color: var(--dark) !important;
    color: white !important;
}