/*  THIS STYLESHEET IS PART OF THE MULTI-LINGUAL INPUT TOOLS BROWSER EXTENSION
    STYLESHEET FOR OPTIONS PAGE
    --------------------------------------------------------------
    Chrome: https://chrome.google.com/webstore/detail/multi-lingual-input-tools/dkbgodmmblfcnfledmedmepimmpebnjo?hl=en
    Microsoft Edge: https://microsoftedge.microsoft.com/addons/detail/multilingual-input-tools/aoehggnalolhonphifnooepocfjpghfl
    --------------------------------------------------------------
    Path: options/options.css
    --------------------------------------------------------------
*/

.options-container {
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    position: relative;
}

#color-mode-label {
    border-radius: 500%;
}

#spanish-label {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#portuguese-label {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bi-brightness-high-fill {
    font-size: 23px;
}

.bi-moon-fill {
    font-size: 20px
}