/*  THIS STYLESHEET IS PART OF THE MULTI-LINGUAL INPUT TOOLS BROWSER EXTENSION
    STYLESHEET FOR ABOUT PAGE
    --------------------------------------------------------------
    Chrome: https://chrome.google.com/webstore/detail/multi-lingual-input-tools/dkbgodmmblfcnfledmedmepimmpebnjo?hl=en
    Microsoft Edge: https://microsoftedge.microsoft.com/addons/detail/multilingual-input-tools/aoehggnalolhonphifnooepocfjpghfl
    --------------------------------------------------------------
    Path: about/about.css
    --------------------------------------------------------------
*/

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 30px;
    font-weight: 500;
}

.title {
    text-align: center;
}

.light-mode a {
    color: black;
}

.dark-mode a {
    color: white;
}

.links {
    text-align: center;
    margin-top: -20px;
}

.open-source-banner {
    background-color: #336cfb;
    padding: 10px 10px 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

i {
    font-size: 40px;
    padding: 10px;
}