.custom-container {
    min-width: 600px;
    text-align: center;
    margin-top: 20px;
}

#ultimate-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

#prompt-options-page-en {
    text-decoration: underline;
    cursor: pointer;
}

.menu-icons {
    float: right;
    margin-right: 10px;
    font-size: 20px;
}

.menu-icons > i {
    cursor: pointer;
}

.menu-icons > .bi-keyboard {
    font-size: 25px;
}